In [3]:
# !pip3 install cassandra-driver

In [9]:
from cassandra.cluster import Cluster

In [11]:
cluster = Cluster(['127.0.0.1'])
session = cluster.connect()

In [14]:
try:
    session.execute("SELECT * FROM fuck")
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

In [17]:
try:
    session.execute('''
        CREATE KEYSPACE IF NOT EXISTS ass
        WITH REPLICATION = {'class':'SimpleStrategy','replication_factor':1}''')
except Exception as e:
    print(e)

We need to set our keyspace and connect to it. We don't need a new connection

In [19]:
try:
    session.set_keyspace('ass')
except Exception as e:
    print(e)

When setting tables, we need to think of the queries we might run.
This is important as the partition is done on a set key. So, think of a "WHERE" clause, "SELECT * FROM x WHERE y = '...'"

We will partition on year. 

hence

PRIMARY KEY(partition, primary_key) 

so the primary key might be patient_id, or artist_name, the partition might be year here

In [20]:
query = 'CREATE TABLE IF NOT EXISTS music_library'
query = query + '(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))'

In [22]:
# notice the primary key
print(query)

CREATE TABLE IF NOT EXISTS music_library(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))

In [24]:
try:
    session.execute(query)
except Exception as e:
    print(e)

In [25]:
insert_stm = '''INSERT INTO music_library(year, artist_name, album_name)'''

In [26]:
insert_stm = insert_stm + "VALUES (%s, %s, %s)"

In [28]:
try:
    session.execute(insert_stm, (1930, 'ass', 'assballs'))
    session.execute(insert_stm, (3910, 'balls', 'assballs'))
except Exception as e:
    print(e)

In [37]:
row = session.execute('''SELECT * FROM music_library''')

In [38]:
for r in row:
    print(r.year)

3910
1930